@import '../../../../template/layout.scss';
.wrapper-body {
  position: relative;
  overflow-y: scroll;
  @include mobile {
    height: 32rem;
    border-bottom: solid 2px;
  }
  @include desktop {
    height: 29rem;
  }
}
