@import '../../../template/layout.scss';

.msg-wrapper {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background: color(secondary);
  color: color(primary);
  padding: 1rem 1.5rem;
  width: 50%;
  .msg-top {
    margin-bottom: 1rem;
    .msg-user {
      font-size: 2rem;
    }
  }
  .msg-bottom {
    margin-top: 1rem;
    .msg-time {
      font-size: 2rem;
    }
  }
  .msg-container {
    .msg {
      font-size: 1.5rem;
    }
  }
}

.sent {
  justify-content: right;
  background-color: color(secondary);
  color: color(primary);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
}

.recieved {
  justify-content: left;
  background-color: color(primary);
  color: color(accent);
  border-radius: 2rem;
  border: 1rem solid color(accent);
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
}
