@import '../../../template/layout.scss';

.msg-wrapper {
  margin: 2rem 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
  background: none;
  padding: 1rem 1.5rem;
  width: 80%;
  .msg-top {
    color: set-text-color(color(primary));
    margin-bottom: 0.5rem;
    .msg-user {
      font-size: 1rem;
    }
  }
  .msg-bottom {
    margin-top: 0.5rem;
    .msg-time {
      font-size: 1rem;
      color: set-text-color(color(primary));
    }
  }
  .msg-container {
    background: color(transparent);
    .msg {
      font-size: 1rem;
      color: color(primary);
    }
  }
}
.sentContainer {
  float: right;
}
.recievedContainer {
  float: left;
}

.sent {
  color: set-text-color(color(transparent));
  padding: 1rem 1.5rem;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-right-radius: 4rem;
}

.recieved {
  color: set-text-color(color(transparent));
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  border-bottom-left-radius: 4rem;
  padding: 1rem 1.5rem;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 74%, 26% 100%, 19% 75%, 0% 75%);
}
