@import '../../../template/layout.scss';

.msg-wrapper {
  margin: 2rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  background: color(secondary);
  color: color(primary);
  padding: 1rem 1.5rem;
  width: 80%;
  .msg-top {
    margin-bottom: 1rem;
    .msg-user {
      font-size: 2rem;
    }
  }
  .msg-bottom {
    margin-top: 1rem;
    .msg-time {
      font-size: 2rem;
    }
  }
  .msg-container {
    .msg {
      font-size: 1.5rem;
    }
  }
}

.sent {
  justify-self: end;
  background-color: color(secondary);
  color: color(primary);
  padding: 1rem 1.5rem;
  margin: 0.5rem 0;
  clip-path: polygon(
    0% 105%,
    0% 0%,
    105% 0%,
    105% 105%,
    43px 105%,
    43px 80%,
    21px 80%,
    21px 105%
  );
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.recieved {
  justify-self: start;
  background-color: color(transparent);
  color: color(primary);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem 1.5rem;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 45% 74%, 26% 100%, 19% 75%, 0% 75%);
}
