@import '../../../../template/layout.scss';

.wrapper-footer {
  padding: 0.5rem;
  .inner-footer {
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-gap: 0.8rem;
    @include mobile {
      grid-gap: 0.8rem;
      grid-template-columns: 8fr 2fr;
      height: 4rem;
    }
    .message-button {
      border: none;
      outline: none;
      background-color: color(secondary);
      border-radius: 0.5rem;
      font-size: 2rem;
      color: #fff;
      height: 100%;
      @include desktop {
        font-size: 3.5rem;
      }
    }

    .message-input {
      border: none;
      outline: none;
      background-color: transparent;
      border-radius: 0.5rem;
      padding: 0.4rem 1rem;
      border: 0.09rem solid color(accent);
      height: 100%;
      @include desktop {
        font-size: 2rem;
      }
    }
  }
}
