@import '../../../template//layout.scss';

.primary-button {
  background: color(secondary);
  border: none;
  border-radius: 2rem;
  color: color(primary);
  display: block;
  margin: 1rem 0;
  outline: none;
  padding: 1rem 0.5rem;
  width: 100%;

  @include mobile {
    font-size: 2rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}

.secondary-button {
  background: secondary;
  border: solid 0.2rem color(secondary);
  border-radius: 2rem;
  color: color(primary);
  display: block;
  margin: 1rem 0;
  outline: none;
  padding: 1rem 0.5rem;
  width: 100%;

  @include mobile {
    font-size: 2rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}
