//  color variables
$colors: (
  primary: #fff,
  dark: #000,
  secondary: #007bff,
  accent: #6c757d,
  transparent: rgba(0, 0, 0, 0.5),
  dark-primary: #121212,
  dark-secondary: #ce93d8,
);

$light: lighten(#6c757d, 20%);

$tablet: 769px;
$desktop: 770px;
