@import './functions';
@import './variables';
@import './resets';
@import './config';
@import './mixins';
// functions

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: color(primary);
  font-family: ' Raleway ', sans-serif;
  font-size: 10px;
  color: color(accent);
}
