@import '../../template/layout.scss';

.wrapper-settings {
  display: flex;
  overflow-y: hidden;

  @include mobile {
    flex-direction: column;
  }
  .div-settings {
    @include mobile {
      margin: 2rem auto;
      width: 90%;
    }
    @include desktop {
      margin: 4rem auto;
      width: 40%;
    }

    .clocks-container {
      display: flex;
    }
  }
}
