@import '../../../template/layout.scss';

.wrapper-sidebar {
  height: 100%;
  background-color: color(secondary);
  color: #fff;

  @include mobile {
    padding: 2rem 0.5rem;
    width: 100%;
  }
}
