@import '../../template/layout.scss';

.users-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  .user-lists {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mobile {
      width: 90%;
      padding: 1rem;
    }
  }
}

.wrapper-chat {
  .inner-chat {
    .users-mobile {
      @include desktop {
        display: none;
      }
    }
  }
}

.users-chat {
  @include mobile {
    display: none;
  }
}
