@import '../../template/layout.scss';

.settings-username {
  display: flex;
  flex-direction: column;
  @include mobile {
  }
  .username-label {
    color: color(accent);
    font-size: 1.5rem;
  }
}

.settings-items {
  margin: 1rem 0;
  .settings-heading {
    font-size: 1.5rem;
  }
  //  styling for radio buttons
  .inputGroup {
    background-color: #fff;
    display: block;
    margin: 1rem 0;
    position: relative;

    label {
      padding: 1.2rem 3rem;
      width: 100%;
      font-size: 1.5rem;
      display: block;
      text-align: left;
      color: color(accent);
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;
      @include mobile {
        font-size: 1rem;
      }
      &:before {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        content: '';
        background-color: color(secondary);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 2rem;
        height: 2rem;
        content: '';
        border: 2px solid #d1d7dc;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked ~ label {
      color: #fff;

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #54e0c7;
        border-color: #54e0c7;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }
  }
}

.settings-clockmode {
  margin: 1rem;
  .settings-clocks {
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;

    .clockmode-label {
      color: color(accent);
      font-size: 1.5rem;
      cursor: pointer;
      margin: 1rem 0;

      @include mobile {
        font-size: 1rem;
      }
    }

    & input {
      background-color: color(secondary);
      font-size: 1rem;
      width: 2rem;
      height: 2rem;
    }
  }
}
